:root {
    --clr-primary-5: hsl(205, 78%, 60%);
    --clr-primary-1: hsl(205, 86%, 17%);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --clr-white: #fff;
    --clr-grey-10: hsl(206, 33%, 96%);
    --clr-black: #222;
    --fixed-width: 620px;
    --spacing: 0.25rem;
    --ff-primary: 'Roboto', sans-serif;   
    --ff-secondary: "Open Sans", sans-serif;
    --radius: 0.5rem;
    --transition: all 0.3s linear;
}

html, 
body {
    font-size: 16px;
    height: 100%;
}

body {
    font-family: var(--ff-secondary);
    background-color: var(--clr-grey-10);
    overflow-y: hidden;
}

.header {
    box-shadow: var(--dark-shadow);
    background-color: var(--clr-white);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    max-width: var(--fixed-width);
    height: 3rem;
    margin: 0 auto;
}

.header .logo {
    font-size: 0.875rem;
    color: var(--clr-primary-5);
    font-weight: bold;
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    font-size: 1rem;
}

.header .menu ul {
    display: flex;
    list-style: none;
}

.header .menu ul li {
    margin-right: 1rem;
}

.header .menu ul li a {
    text-decoration: none;
    color: var(--clr-primary-1);
    letter-spacing: var(--spacing);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    text-transform: capitalize;
}

.header .menu ul li a:hover {
    color: var(--clr-primary-5);
}

.main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .container {
    text-align: center;
}

.main .title {
    background-color: var(--clr-black);
    color: var(--clr-white);
    padding: 1rem;
    margin-bottom: 2.5rem;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 2.5rem;
    font-family: var(--ff-primary);
    letter-spacing: var(--spacing);
    border-radius: var(--radius);
}

.main .title .color {
    color: var(--clr-primary-5);
}

.main .click-me {
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--ff-primary);
    background: transparent;
    border-radius: var(--radius);
    border: 2px solid var(--clr-black);
    letter-spacing: var(--spacing);
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
    color: var(--clr-black);
    transition: var(--transition);
    cursor: pointer;
}

.main .click-me:hover {
    color: var(--clr-white);
    background-color: var(--clr-black);
}